h1{
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-origin: padding-box;
    color: black;
}
h2{
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-origin: padding-box;
    color: black;
}
.hacked{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    align-content: center;
}
.ranso{
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-origin: padding-box;
    color: rgb(105, 57, 40);
}